__pycache__/
.vscode/
.ipynb_checkpoints/
*.egg-info/
**/.DS_Store
.env
*brain*
src/mopadi/data_prep/**.ipynb
src/mopadi/data_prep/clini_tables/
.DS_Store?
._*
temp/
*slurm*
*.out
evals/
*.sh
*.csv
src/mopadi/utils/dimred/
src/mopadi/utils/extract-old/
notebooks/dev/*
src/mopadi/utils/reconstruct_1k_images_*.py
**/extval_classifier_*.py
**/get_top_tiles_*.py
