__pycache__/
.vscode/
.ipynb_checkpoints/
**/.DS_Store
.env
*brain*
data_prep/plots*
data_prep/**.ipynb
.DS_Store?
._*
data_prep/clini_tables/
temp/
*slurm*
*.out
evals/
*.sh
*.csv
utils/dimred/
utils/extract-old/
notebooks/dev/*
utils/reconstruct_1k_images_texture.py
mil/extval_classifier_lung.py
mil/get_top_tiles_lung.py
