__pycache__/
.vscode/
.ipynb_checkpoints/
*.egg-info/
**/.DS_Store
.env
*brain*
src/mopadi/data_prep/clini_tables/
.DS_Store?
._*
temp/
outs/
evals/
*.sh
*.csv
*/dimred/
*/extract-old/
*dev*
src/mopadi/utils/reconstruct_1k_images_*.py
**/extval_classifier_*.py
**/get_top_tiles_*.py
notebooks/images
tests/
images/example_norm_to_tumor/*test*
src/mopadi/mil/test_*
*.yaml
images/Histo*
exps/
jobs/
*broken*
*backup*
*debug*
