torch==2.5.1
torchvision==0.20.1
torchmetrics==1.6.1
pytorch-lightning==2.5.0.post0
h5py==3.12.1
matplotlib==3.10.1
numpy==2.2.2
pandas==2.2.3
Pillow==11.1.0
pytorch-fid==0.3.0
tqdm==4.67.1 
tensorboard==2.19.0
transformers==4.49.0
scikit-learn==1.6.1
cmcrameri==1.9
python-dotenv==1.0.1
